.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
./R/setup.R
.Rproj
./benchmarking/results/*
./benchmarking/results/ram/*
./img/*
.Rbuildignore
ensemblQueryR.Rproj
.RData
/img
/R/legacyCode.R
.rprof.log
rprof.log
CRAN-SUBMISSION
cran-commends.md
